.alert-message{
      padding: 0.8rem 1.4rem;
      margin-bottom: 1rem;
      border-radius: var(--card-border-radius-2 );
  }

 .alert-message .error{
      background: var(--color-red-light);
      color: var(--color-red);
 }
     
 .alert-message .success{
      background: var(--color-green-light);
      color: var(--color-green);
 }